@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Helvetica Neue';
	src: '/fonts/HelveticaNeue.woff2' local('Helvetica Neue'),
		local('Helvetica-Neue'), local('Neue Helvetica'), local('Neue-Helvetica');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Futura Condensed';
	src: url('/fonts/FuturaCondMedium.woff2') format('woff2'),
		url('/fonts/FuturaCondMedium.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

.smoothScrolling {
	scroll-behavior: smooth;
}
